<div style="padding: 10px;">
  <div> Tutorial sample: [Animation: {{tutorial._currentStep}} / {{tutorial._steps.length}}] </div>
  <div>
    <span ng-show="tutorial._running" class="label label-success">Playing</span>
    <span ng-show="!(tutorial._running)" class="label label-danger">Stopped</span>
  </div>

  <div nag-compile="tutorial.view()"></div>
  <div ng-repeat="step in tutorial._steps[tutorial._currentStep] track by $index">
    <div ng-include src="'tutorial-element/' + step.props.type + '.html'"></div>
  </div>


  <div>
    <button class="btn btn-default pull-left" ng-click="tutorial.prev()">Previous step</button>
    <button class="btn btn-default pull-right" ng-click="tutorial.next()">Next step</button>
  </div>
</div>